footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: var(--RobotoRegular);
  margin: 32px 36px;
}

.footer_links {
  display: flex;
  flex-direction: column;
  gap: 20px;
  cursor: pointer;
  align-items: self-start;
}

ul {
  list-style-type: none;
  font-family: var(--RobotoRegular);
}

.nav {
  color: var(--text-base);
  display: flex;
  justify-content: space-between;
  padding-left: 380px;
  padding-right: 150px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

li:hover {
  color: var(--text-link);
}

.bottom {
  font-size: 12px;
  color: var(--caption);
  align-self: self-start;
}
